.bold{
    font-weight: 700!important;
}
.filter_container{
    display: flex;
    padding: 1rem;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
    gap: 0.5rem;
    border-radius: 0.25rem;
}

.filter_container:hover{
    cursor: pointer;
}
.filter{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.badge_list{
    margin-top: 0.5rem;
    position: relative;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.25rem;
    align-self: stretch;
    flex-wrap: wrap;
    max-height: 20rem;
    overflow-y: auto;
}
.arrow{
    transform: rotate(180deg);
    transition: 300ms;
}
.arrowIcon{
    transition: 300ms;
}
.badge_list::-webkit-scrollbar {
    display: none;
}
.list, .tags, .tags_sex{
    position: relative;
    transition: height 500ms, opacity 500ms;
    opacity: 0;
    height: 0;
}
.list_click{
    transition: height 500ms, opacity 500ms;
    opacity: 1;
    height: 3rem;
}
.tags_click{
    transition: height 1000ms, opacity 500ms;
    opacity: 1;
    height: 20rem;
}
.tags_click_sex{
    transition: height 1000ms, opacity 500ms;
    opacity: 1;
    height: 10rem;
}